# Виртуальное окружение
.venv/
.env
# Celery
celerybeat-schedule.db
data/
logs/
# Python кеш
__pycache__/
*.pyc

# Состояние приложения
jira_notifications_state.json
jira_processed_state.json

# macOS
.DS_Store